<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <div class="sidebar-checkbox">
        <input class="side-menu" type="checkbox" id="side-menu"/>
        Menu de navegação  
        <label class="hamb" for="side-menu">
            <span class="hamb-line"></span>
        </label>
    </div>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/features-admin">
            <i class="bi bi-journal-text"></i>
             <span>Publicações</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/produtos">
            <i class="bi bi-tablet"></i>
            <span>Produtos</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categorias">
            <i class="bi bi-file-earmark-x"></i>
            <span>Categorias</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/usuarios">
            <i class="bi bi-person-lines-fill"></i>
            <span>Usuários</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboards">
            <i class="bi bi-kanban-fill"></i>
            <span>Dashboards</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/denuncias">
            <i class="bi bi-envelope-exclamation"></i>
            <span>Denuncias</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">



</ul>
<!-- End of Sidebar -->