<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Alert component -->
    <div class="d-flex justify-content-center w-100">
      <div
        class="alertas mt-5 sm-5 mt-md-5 mt-lg-0 col-10 col-sm-7 col-md-6 col-lg-5 d-flex justify-content-center row position-fixed"
      >
        <app-alerta></app-alerta>
      </div>
    </div>

    <iframe
      width="100%"
      height="100%"
      src="https://datastudio.google.com/embed/reporting/4fc32df9-dc35-4ae3-8f19-a5fb83bc3cfd/page/vpZ3C"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe>
  </div>
</div>
