$white: #FFFFFF;
$bg-white:#f5f7fa;
$white: #fff !default;

$dark-blue-100: #B9D9EB;
$dark-blue-200: #87CEFA;
$dark-blue-300: #034ad9;
$dark-blue-400: #003fbd;
$dark-blue-500: #00308F;
$dark-blue-500: #00008B;
$dark-blue-600: #1E2952;
$dark-blue-700: #002244;
$dark-blue-800: #001428;
$dark-blue-900: #010f1a;

$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;

$green-100: #e8f5e9 !default;
$green-200: #c8e6c9  !default;
$green-300: #a5d6a7 !default;
$green-400: #81c784  !default;
$green-500: #66bb6a   !default;
$green-600: #4caf50  !default;
$green-700: #43a047 !default;
$green-800: #388e3c !default;
$green-900: #1b5e20 !default;

$red-100: #ffebee !default;
$red-200: #ffcdd2  !default;
$red-300: #ef9a9a !default;
$red-400: #e57373 !default;
$red-500: #ef5350 !default;
$red-600: #f44336 !default;
$red-700: #e53935 !default;
$red-800: #d32f2f !default;
$red-900: #b71c1c !default;

$container-width: 1170px;